.App {
  display: flex;
  position: relative;
}

.Main {
  background: #e0ffff;
  width: 79%;
  height: 100vh;
  padding-left: 275px;
}

@media only screen and (max-width: 500px) {
  .Main {
    padding-left: 0;
    width: 100%;
  }
}

.Sidebar {
  background: #2e3d49;
  position: absolute;
  width: 275px;
  height: 100vh;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 500px) {
  .Sidebar {
    left: -275px;
  }
}

.Header {
  background: #1c262f;
  height: 75px;
}