html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Gill Sans", sans-serif;
}

#map {
  height: 89%;
}

/* Header */
.Header {
  position: relative;
}

#menu {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

/* Burger Menu */
/* https://www.w3schools.com/howto/howto_css_menu_icon.asp */
.hamburger {
  width: 35px;
  height: 5px;
  background-color: #02b3e4;
  margin: 6px 0;
  display: none;
}

@media only screen and (max-width: 500px) {
  .hamburger {
    display: block;
  }
}

/* Sidebar CSS */
.container {
  margin-left: 40px;
  margin-top: 35px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  padding-bottom: 6px;
  /* color: #d8d6d6; */
  font-size: 18px;
}

/* li:hover {
  color: #02b3e4;
} */

.Sidebar a {
  color: #d8d6d6;
  text-decoration: none;
  cursor: pointer;
}

.Sidebar a:hover {
  color: #02b3e4;
}

/* Utilities */
/* content is positioned off screen but available to screen readers */
.visuallyhidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}