html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Gill Sans", sans-serif;
}

#map {
  height: 89%;
}

/* Sidebar CSS */
.container {
  margin-left: 40px;
  margin-top: 35px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  padding-bottom: 5px;
  color: #d8d6d6;
  font-size: 18px;
}